body {
  background: #1BFFAC;
background: -moz-radial-gradient(center, #1BFFAC 0%, #47E4F8 30%, #9F9F9F 100%);
background: -webkit-radial-gradient(center, #1BFFAC 0%, #47E4F8 30%, #9F9F9F 100%);
background: radial-gradient(ellipse at center, #1BFFAC 0%, #47E4F8 30%, #9F9F9F 100%);
  );
  background: linear-gradient(to bottom, #1bffac 0%, #47e4f8 30%, #0b9f85 100%);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h1 {
  box-shadow: 2px 2px 7px 1px #00b395;
}
h2 {
  color: #009d82;
}
h3 {
  font-size: 16;
  font-style: italic;
  color: #b3001e;
}
ul {
  list-style-type: square;
  color: brown;
}
