body {
  background: black;
}
h1 {
  color: #ffffff;
  text-shadow: 1px 2px 2px #00b395;
}
h2 {
  color: #004338;
}
h3 {
  font-size: 16;
  font-style: italic;
  color: #b3001e;
}
ul {
  list-style-type: square;
  color: brown;
}
